<!--NAVBAR-->
<nav class="navbar navbar-primary">
    <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="../../static/ak.png" alt="Aleia Knight" width='50' height ='40'>
            </a>
        <a class="navbar-brand" href="\"><strong>Eventuu</strong></a>
    </div>

    <div class='pull-right'>

    <div class="btn-group" role="group" aria-label="Basic example" >
            <!-- <button type="button" class="btn btn-secondary" href='/event/add'>Add Event</button> -->
            <a class="btn btn-secondary" href="/event/add" role="button">Add Event</a>
            <button type="button" class="btn btn-secondary"> ### </button>
            <button type="button" class="btn btn-secondary"> ### </button>
    </div>
    </div>
</nav>
