<form action='/event/time_block' method='post'>
        <fieldset>
            {% if event %}
                <input type='hidden' value='{{ event._id }}' name='event_id'/>
            {% endif %}
            <legend>Add a Block of Time</legend>
            <!-- TITLE -->
            <div class='form-group'>
                <label for='block-title'>Title of Block</label><br>
                <input class='form-control'
                    id='block-title'
                    type='text'
                    name='block-title'
                    placeholder='Title'/>
            </div>
    
            <!-- DESCRIPTION -->
            <div class='form-group'>
                <label for='block-content'>Block Description</label><br>
                <textarea class='form-control'
                    id='block-content'
                    name='block-description'
                    rows='2'
                    placeholder=''></textarea>
            </div>
        </fieldset>
    
        <!-- BUTTON -->
        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>Save Time Block</button>
        </div>
    </form>

