html{
    color: blue;
    }

body{
    background-color:rgba(251, 219, 198, 0.541);

}

nav{
    color: black;
    background-color: rgba(240, 144, 55, 0.78);
    padding: 15px;
}

.form-control{
    width:30%;
}

.event_add_form{
    margin: 70px 170px;
    font-size: 1.2em;
}

div.event_show_title{
    margin-top: 70px;
    margin-left: 170px;
}

div.event_show_body{
    margin-left:170px;
}

/*navbar title*/
.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: black;
}

.btn{
    color: white;
    background-color: rgba(0, 0, 0, 0.733);}

.event_edit_form{
    margin: 70px 170px;
    font-size: 1.2em;
}

.list-group-item{
    border-color: rgba(248, 98, 72, 0.842);
    background-color: rgba(255, 255, 255, 0.822);
    border-width: 2px;
    width: 85%;
}


footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

input{
    border-radius: 25px;
}