<!DOCTYPE html>


<html lang=en>

    <!--bootstrap & css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/index.css">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><strong>TESTING</strong></a>
        </div>

        <div class='pull-right'>

        <div class="btn-group" role="group" aria-label="Basic example" >
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
        </div>
        </div>
    </nav>

{% block title %}
{{msg}}
{% endblock %}

{% block content %}
{% endblock %}

</html>