{% extends 'base.html' %}

{% block title %}
<title>
    Add Events
</title>
{% endblock %}

<body>
{% block content %}
<form method = "POST" action="/event/detail">
<fieldset>
    <label for='Event-title'>Event Title</label><br>
    <input type="text" name='title'><br><br>

    <label for='event-description'>Description</label><br>
    <input type='text' name ='description'><br><br>

    <label for='event-date'>Event Date</label><br>
    <input type='text' name ='date'><br><br>

    <label for='event-s-time'>Start Time</label><br>
    <input type='text' name ='s_time'><br><br>

    <label for='event-e-time'>Ending Time</label><br>
    <input type='text' name ='e_time'><br><br>

    <!--submit button-->
    <input type='submit' name= 'description'>

    <!--Time block-->
    <p>Would you like to add a Time Block?</p><br>
    <form action='/event/time_block'>
        <button type=submit > Add Time Block</button>
    </form>

</fieldset>
</form>
{% endblock %}
</body>