{% extends 'base.html' %}
<!DOCTYPE html>


    <title>
        {% block title %}
        <div class="event_show_title">
        <h2><u><strong>{{ event.title }}</strong></u></h2>
        </div>
        {% endblock %}
    </title>

    <body> 
        {% block content %}
        <div class="event_show_body">
        <h4>Date: {{event.date }}</h4>
        <h4>Time : {{event.s_time }} until {{event.e_time }}</h4><hr>
        <h4>{{event.description }}</h4><br><br>

            <!-- for new time block  -->
        {% include '/partials/time_block_new.html' %}
        <p> test of time_block_new</p>
        <hr>



         <!-- print new time block -->
        {% for time_block in time_blocks %}
            <h2>test of printing time_block_SHOWS</h2>
            {% include '/partials/time_block_show.html' %}

        {% endfor %}

        </div>


        {% endblock %}
    </body>    