{% extends 'base.html' %}

<title>
    {% block title %}
    TOAST
    {% endblock %}
</title>


<body>
    {% block content %}
    <div class="row">
        <div class="col-md-6">LEFT COLUMN <br><br>
            <center>
            <img src='static/calendar.jpg' alt="Calendar" style="width:600px;height:500px;">
        </center>
        </div>

        <!--right column-->
        <div class="col-md-6">
            <form action='/event/add'>
            <button type=submit > Add Event</button>
            </form>

            <ul class="list-group">
            {% for event in events %}
            <li class="list-group-item">
            <h3><a href='event/detail/{{event._id}}'>{{ event.title }}</a></h3>
            <h4>{{event.description }}</h4>
            <p><form action='/event/{{event._id}}/edit'>
                <button type='submit'>Edit</button>
            </form></p>
            </li>
            {% endfor%}
            </ul>
        </div>
    </div>

    {% endblock %}
</body>
