{% extends 'base.html' %}
<title>
    {% block title %}
    TITLE
    {% endblock %}
</title>


<body>
    {% block content %}
    <div class="row">
        <div class="col-md-6">LEFT COLUMN</div>
        <div class="col-md-6">
            <form action='/event/add'>
            <button type=submit > Add Event</button>
            </form>
        </div>
    </div>

    <form type='text'>
        Image link<input type="text" name="image_input">
        <input type="submit" value='Submit'>
    </form>
    {% endblock %}
</body>